.banner-wrapper {
    position: absolute;
    z-index: -1;
    transform: translateY(-1250px);
  }
  
  .banner {
    max-width: 100%;
  }

@media screen and (max-width: 1325px) {
    .banner-wrapper {
      transform: translateY(-1100px);
    }
}  
@media screen and (max-width: 1250px) {
    .banner-wrapper {
      transform: translateY(-1000px);
    }
  }

  @media screen and (max-width: 1160px) {
    .banner-wrapper {
      transform: translateY(-850px);
    }
  }
  @media screen and (max-width: 1065px) {
    .banner-wrapper {
      transform: translateY(-700px);
    }
  }
  @media screen and (max-width: 960px) {
    .banner-wrapper {
      transform: translateY(-600px);
    }
  }
  @media screen and (max-width: 890px) {
    .banner-wrapper {
      transform: translateY(-500px);
    }
  }
  @media screen and (max-width: 825px) {
    .banner-wrapper {
      transform: translateY(-400px);
    }
  }
  @media screen and (max-width: 760px) {
    .banner-wrapper {
      transform: translateY(-300px);
    }
  }
  @media screen and (max-width: 690px) {
    .banner-wrapper {
      transform: translateY(-200px);
    }
  }
  @media screen and (max-width: 625px) {
    .banner-wrapper {
      transform: translateY(-100px);
    }
  }